$MyColors: rgba(214, 47, 69, 0.76),rgba(40, 221, 125, 0.685);

header,footer{
    background-image: linear-gradient(62deg,rgba(36, 197, 49, 0.808),rgba(15, 216, 189, 0.74));
    color: black;
    margin: 0px;
    overflow: hidden;
    overflow-x: hidden;
    padding:10px ;
    text-align: center;
    height: auto;
    width:auto;
}
html{
    //padding: 5%;
    //margin: 3%;
    //background-color: rgba($color: #000000, $alpha: .9);
    background-image: linear-gradient(45deg,rgba(62, 233, 142, 0.39),rgba(14, 119, 168, 0.692));
}
/*
body{
    //background-image: linear-gradient(45deg,rgba(62, 233, 142, 0.39),rgba(14, 119, 168, 0.692));
}*/
main{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,2fr));
    grid-gap: 2rem 2rem;
    cursor: pointer;
    border-color: rgba(18, 90, 150, 0.897);
    margin: 2%;
    border-width: 2rem;
    //grid-auto-flow: column;
    .card{
        @for $i from 1 to 8 {
            &:nth-of-type(#{$i}){
            @if $i % 2==0 {
                    background-color: nth($MyColors, $n:2 );    
            }@else{
                background-color: nth($MyColors, $n:1 );
            }
            }
        }
        transition: transform .5s;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.24);
        &:hover{
            transform: translateY(-5px);// box-shadow: 5px 10p ;
            box-shadow: 5px 10p ;
            //box-shadow: lighten($color: #2521217a, $amount: 10);
        }
        
        img{
            width:100%;
            height: auto;
        }
        .info{
            padding: 1rem;
        }
    }
}